.popup {
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 35px;
        &:before {
            content: "\f00d";
            font-family: "icomoon";
            font-size: 40px;
            color: red;
        }

        &:hover {
            transform: scale(1.2);
            transition: all 1s;
        }
    }
    // .popup__overlay

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);

        display: none;
    }

    // .popup__window

    &__window {
        width: 500px;
        min-height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 40px;
        font-size: 25px;
        font-weight: 700;
        display: none;
        text-align: center;
        border-radius: 10px;
    }

    // .popup__title

    &__title {
    }

    // .popup__descr

    &__descr {
    }
}

.callback-form {
    // .callback__title

    &__title {
        margin: 0px 0px 20px 0px;
    }

    // .callback__input-text

    &__input-text {
        border: 2px solid grey;
        width: 100%;
        padding: 0 10px;
        height: 50px;
        margin: 0px 0px 20px 0px;
        border-radius: 10px;
    }

    // .callback__input-submit

    &__input-submit {
        cursor: pointer;
        border: 2px solid grey;
        border-radius: 10px;
        padding: 10px 30px;
        margin: 20px 0px 0px 0px;
        background: transparent;
        font-weight: 700;
        color: $second-color;
    }
}
